<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
   
</head>
<body>
    <div id="box">
        {{arr}}
        <br>
        {{json}}
        <ul>
            <li v-for="value in arr">
                {{value}}---{{$index}}
            </li>
        </ul>
        <ol>
            <li v-for="(value,key) in json">
                {{key}} --- {{value}}
                <br>
                $key ---{{$key}}
                <br>
                $index --- {{$index}}
            </li>
        </ol>
    </div>
</body>
<script>
        window.onload=function(){
            var c=new Vue({
                el:'#box',
                data:{
                    arr:['apple','banner','orange'],
                    json:{
                        a:'apple',
                        b:'banner',
                        o:'orange'
                    }
                }
            })
        }
    </script>
</html>